.react-flow__pane.selection {
    cursor: default !important;
}

.react-flow__handle {
    width: 10px !important;
    height: 10px !important;
    background: #fff !important;
    border : 1px solid #d4d4d4 !important;
    z-index: 999 !important;
}

.react-flow__node-default {
    border-color : #d4d4d4 !important;
}


.react-flow__resize-control.handle {
    width: 8px !important;
    height: 8px !important;
}