.card-node {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
    overflow: hidden;
    cursor : default;
    pointer-events: all !important;
    display: flex;
    flex-direction: column;
}



.card-node.selected:not(.multi-selected) {
    border-color: transparent;
    border-width: 2px;
}
.card-node.multi-selected.selected {
    border-color: #0064FF !important;
}

.card-node > .not-selected-drag-area {
    position : absolute;
    width: 100%;
    left: 0;
    bottom : 0;
    background: transparent;
    z-index: 1;
    cursor:  pointer !important;
}
.card-node.selected > .not-selected-drag-area {
    pointer-events: none !important;
}

.card-node > .controll-bar.drag-handle {
    opacity: 0;
    background: white;
    height: auto;
    transition: all 0.2s ease;
    cursor : grab !important;
    display: flex;
    align-items: center;
    padding : 3px 6px;
}
.card-node > .controll-bar.drag-handle > .title {
    font-weight: 500;
    flex: 1;
    text-align: left;

}
.card-node.selected:not(.multi-selected)  > .controll-bar.drag-handle {

    opacity: 1;
    background: #eaeaea;
}
.card-node > .controll-bar.drag-handle:hover {

    opacity: 1;
    background: #eaeaea;
}

.card-node > .content {
    flex: 1;
    overflow: auto;
    cursor : default;
    padding : 12px 16px;
}


.react-flow__container.nopan > .react-flow__nodesselection-rect {
    opacity: 01;

}

.react-flow__selection {
    border-style: solid !important;
}

.react-flow__node-layer {
    z-index: 0 !important;
    transition: background 0.2s ease, backdrop-filter 0.2s ease;
}
.react-flow__node-layer.grouppable-target {
    background: #0066ff23;
    backdrop-filter: blur(4px);

}

.react-flow__node-container {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
    overflow: hidden;
    cursor : default;
    pointer-events: all !important;
    background: transparent !important;
    backdrop-filter: blur(2px);

}

.layer-node-header {
}

.layer-node-header > .layer-node-header-title {
    
}
